@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1c201d;
}

.disabledColor {
    color: #929090;
}
/* .navBar {
    background-color: #1c201d;
}
.mainCard{
    background-color: #1c201d;
} */

/* .title {
    background-color: #1c201d;
} */
.subText{
    color: #a4a6a5;
}
.btnStyle{
    background-color: #169441;
}

.btnStyle:disabled {
    background-color: gray;
}
.urlText{
    color:#585b58
}
.shortenUrl{
    overflow-wrap: break-word;

    /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
.shortenUrl:hover, .name {
    color: #2eda68;
}
.cardbg{
    background-color: #2e312f;
}


.modalBg{
    background-color: #2e312f;
}
.greyBtn{
    background-color: #585a59;
}
.greenBtn{
    background-color: #169441;
}
.edit{
    color: #abadac;
}

.icon:hover {
    color: #2eda68;
}

.masterLink {
    display: grid;
    width: 100%;
}
