@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ffffff;
    color: #000000 !important;
}

.header {
    color: #1c201d;
}

.input-fade-in {
    opacity: 1;
    transition: opacity 500ms ease-in-out; /* Adjust the duration and timing function as needed */
  }

.disabledColor {
    color: #929090;
}
/* .navBar {
    background-color: #1c201d;
}
.mainCard{
    background-color: #1c201d;
} */

/* .title {
    background-color: #1c201d;
} */
.subText{
    color: #a4a6a5;
}
.btnStyle{
    background-color: #169441;
}

.btnStyle:hover {
    background-color: #0e622a;
}

.btnStyle:disabled {
    background-color: gray;
}
.urlText{
    color:#585b58
}

.timeText{
    color:#b9b9b9
}

.shortenUrl{
    overflow-wrap: break-word;
    color: #000000

    /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
.shortenUrl:hover, .name {
    color: #2eda68;
}
.cardbg{
    background-color: #ffffff;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    color: #1c201d;
}


.modalBg{
    background-color: #ffffff;
}
.greyBtn{
    background-color: #585a59;
}
.greyBtn:hover {
    color: #585a59;
}


.greenBtn{
    background-color: #169441;
}
.greenBtn:hover {
    color: #0e622a;
}

.edit{
    color: #1c201d;
}

.icon {color: #000000}
.icon:hover {
    color: #2eda68;
}

.masterLink {
    display: grid;
    width: 100%;
}

.modal-divs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn-link {
    text-decoration: none;
    color: #ffffff;
  }
  
  .btn-link:hover {
    color: #ffffff;
  }
  
  .btn-flex {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }


  .btn-custom-primary {
    background-color: var(--bs-primary) !important;
    color: #ffffff !important;
    border-color: var(--bs-primary) !important;
  }
  
  .btn-custom-secondary {
    background-color: var(--bs-secondary) !important;
    color: #ffffff !important;
    border-color: var(--bs-secondary) !important;
  }
  
  .btn-custom-danger {
    background-color: var(--bs-danger) !important;
    color: #ffffff !important;
    border-color: var(--bs-danger) !important;
  }
  
  .btn-custom-success {
    background-color: var(--bs-success) !important;
    color: #ffffff !important;
    border-color: var(--bs-success) !important;
  }
  